<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key ="SJointLimitMin" value="-180"/>
        <add key ="SJointLimitMax" value="180"/>
        
        <add key ="LJointLimitMin" value="-105"/>
        <add key ="LJointLimitMax" value="155"/>

        <add key ="UJointLimitMin" value="-80"/>
        <add key ="UJointLimitMax" value="160"/>

        <add key ="RJointLimitMin" value="-200"/>
        <add key ="RJointLimitMax" value="200"/>

        <add key ="BJointLimitMin" value="-150"/>
        <add key ="BJointLimitMax" value="150"/>

        <add key ="TJointLimitMin" value="-455"/>
        <add key ="TJointLimitMax" value="455"/>

        <add key ="TrackLimitMin" value="0.5"/>
        <add key ="TrackLimitMax" value="4300"/>

        <add key ="TurntableLimitMin" value="-99999.0"/>
        <add key ="TurntableLimitMax" value="99999.0"/>
        
    </appSettings>
</configuration>